{% load component_tags %}
{% load form_tags %}

<div class="modal-overlay" id="add-type-modal" {% if form.errors %}data-is-open-on-load{% endif %}>
  <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title">Add New Location Type</h2>
        <button class="modal-close btn-icon btn-icon-red" aria-label="Close modal">
          <span class="material-symbols-outlined">close</span>
        </button>
    </div>
    <div class="modal-body">
      <form method="post" action="{% url 'location_configuration:types_tab' %}">
          {% csrf_token %}

          {# This component still handes the summary of all errors at the top #}
          {% form_error_summary form %}

          {# --- Render All Form Fields Automatically --- #}
          {% for field in form %}
            {% render_field field %}
          {% endfor %}

          <div class="form-actions">
              <button type="submit" class="btn btn-green">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>