<div class="modal-overlay" id="edit-type-modal" {% if edit_form_has_errors %}data-is-open-on-load{% endif %}>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Location Type</h5>
            <button type="button" class="modal-close" aria-label="Close">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <input type="hidden" name="location_type_id" value="{{ edit_form.instance.pk|default:'' }}">
                <input type="hidden" name="edit_form_submit" value="true">

                {% include "partials/_form_error_summary.html" with form=edit_form %}
                
                {% render_field edit_form.name %}
                {% render_field edit_form.icon %}
                {% render_field edit_form.allowed_parents %}
                
                <div class="checkbox-group">
                    {% render_field edit_form.can_store_inventory %}
                    {% render_field edit_form.can_store_samples %}
                    {% render_field edit_form.has_spaces %}
                </div>

                <div class="grid-inputs">
                    {% render_field edit_form.rows %}
                    {% render_field edit_form.columns %}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-blue">Update Location Type</button>
                </div>
            </form>
        </div>
    </div>
</div>