<div class="form-field {% if field.errors %}has-error{% endif %}">

  {# Handle special case for CheckboxSelectMultiple (e.g., ManyToManyField) #}
  {% if field.field.widget.template_name == 'django/forms/widgets/checkbox_select.html' %}
    <label>{{ field.label }}</label>
    <div class="checkbox-list">
      {{ field }}
    </div>

  {# Handle special case for single checkboxes #}
  {% elif field.field.widget.input_type == 'checkbox' %}
    <div class="form-field-inline">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
    </div>

  {# Handle all other standard field types #}
  {% else %}
    {{ field.label_tag }}
    {{ field }}
  {% endif %}


  {% if field.help_text %}
    <p class="help-text">{{ field.help_text }}</p>
  {% endif %}
</div>