{% extends "base.html" %}
{% load component_tags %}

{% block page_title %}
    Location Configuration
{% endblock %}

{# The page_actions block is now empty. #}
{% block page_actions %}
{% endblock %}

{% block content %}
    {# The tab navigator remains first. #}
    {% tab_navigator tabs=tabs active_tab=active_tab %}

    <div class="table-toolbar">
        <button type="button" class="btn btn-green" data-modal-target="#add-location-modal">
            <span class="material-symbols-outlined">add</span>
            <span>Add Top Level Location</span>
        </button>
    </div>

    <div class="tab-content">
        <div class="location-tree">
            {% include "location_configuration/partials/_location_tree.html" with locations=top_level_locations %}
        </div>
    </div>

    {% include "location_configuration/partials/_add_location_modal.html" with form=add_location_form %}
    {% include "location_configuration/partials/_add_child_location_modal.html" with form=add_child_form %}
    {% include "location_configuration/partials/_edit_location_modal.html" with form=edit_location_form %}
{% endblock %}