{% extends "base.html" %}
{% load component_tags %}

{% block page_title %}
    Location Configuration
{% endblock %}

{# The page_actions block is now empty or removed #}
{% block page_actions %}
{% endblock %}

{% block content %}
    {# Render the tab navigator #}
    {% tab_navigator tabs=tabs active_tab=active_tab %}

    <div class="table-toolbar">
        {% if perms.location_configuration.add_locationtype %}
            <button type="button" class="btn btn-green" data-modal-target="#add-type-modal">
                <span class="material-symbols-outlined">add</span>
                <span>Add New Location Type</span>
            </button>
        {% else %}
            <div class="btn btn-disable">
                <span class="material-symbols-outlined">add</span>
                <span>Add New Type</span>
            </div>
        {% endif %}
    </div>

    <div class="tab-content">
        {# Render the generic data table #}
        {% include "partials/_data_table.html" %}
    </div>

    {# Pass the correct error flag to each modal template #}
    {% include "partials/_add_location_type_modal.html" with form=form has_errors=add_form_has_errors %}
    {% include "partials/_edit_location_type_modal.html" with edit_form=edit_form has_errors=edit_form_has_errors %}
{% endblock %}