{% load form_tags %}

<div class="modal-overlay" id="add-type-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add New Location Type</h5>
            <button type="button" class="modal-close btn-icon btn-icon-red" aria-label="Close">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'location_configuration:add_location_type' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="form-error-summary-container"></div>
                
                {% render_field add_form.name %}
                {% render_field add_form.icon %}
                {% render_field add_form.allowed_parents %}
                
                <div class="checkbox-group">
                    {% render_field add_form.can_store_inventory %}
                    {% render_field add_form.can_store_samples %}
                    {% render_field add_form.has_spaces %}
                </div>

                <div class="grid-inputs">
                    {% render_field add_form.rows %}
                    {% render_field add_form.columns %}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-green">Save Location Type</button>
                </div>
            </form>
        </div>
    </div>
</div>