{% load form_tags %}

<div class="modal-overlay" id="edit-location-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Location</h5>
            <button type="button" class="modal-close btn-icon btn-icon-red" aria-label="Close">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.parent }} {# This renders the hidden input for the parent ID #}
                <div class="form-error-summary-container"></div>

                {% render_field form.parent_name %} {# This renders the disabled parent name field #}
                {% render_field form.name %}
                {% render_field form.location_type %}
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-blue">Update Location</button>
                </div>
            </form>
        </div>
    </div>
</div>