<div class="location-details-header">
    <h3>{{ location.name }}</h3>
    <p class="location-type-badge">{{ location.location_type.name }}</p>
</div>

<div class="location-details-content">
    {% if location.location_type.has_spaces %}
        {% include "sample_control/partials/_space_grid.html" %}
    {% else %}
        <div class="sample-list">
            <h4>Samples in this location:</h4>
            {% if samples %}
                <ul>
                    {% for sample in samples %}
                        <li>{{ sample.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No samples are currently stored in this location.</p>
            {% endif %}
        </div>
    {% endif %}
</div>